.agenda {
  .date-start {
    border-top: 3px solid #dee2e6; 
  }

  tr {
    background-color: #b8d1f3;

    td, th {
      border: 0 !important;
    }
  }

  tr:nth-of-type(odd) {
    background-color: #dae5f4;
  }

  .date-header {
    background-color: #e9ecef !important;
  }

  .agenda-date {
    width: 170px;
    background-color: #e9ecef;

    .dayofmonth {
      width: 40px;
      font-size: 36px;
      line-height: 36px;
      float: left;
      text-align: right;
      margin-right: 10px;
    }

    .shortdate {
      font-size: 0.75em;
    }
  }
}


@media (max-width: 768px) {
  
}
