.agenda {
  .agenda-date-start {
    border-top: 3px solid #dee2e6; 
  }

  .agenda-date-header {
    background-color: #e9ecef !important;
  }

  .agenda-time {
    div {
      display: inline;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  tr {
    background-color: #b8d1f3;
    font-size: 14px;

    td, th {
      border: 0 !important;
    }
  }

  tr:nth-of-type(odd) {
    background-color: #dae5f4;
  }

  .agenda-date {
    width: 170px;
    background-color: #e9ecef;

    .dayofmonth {
      width: 40px;
      font-size: 36px;
      line-height: 36px;
      float: left;
      text-align: right;
      margin-right: 10px;
    }

    .shortdate {
      font-size: 0.75em;
    }
  }
}

@media (max-width: 992px) {
  .agenda {
    .agenda-time {
      div {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .agenda-date {
      width: auto;
      background-color: #e9ecef;

      .dayofmonth {
        font-size: 28px;
        width: auto;
        float: none;
        text-align: center;
        margin-right: 0px;
      }

      .dayofweek {
        font-size: 14px;
      }
    }
  }
}
