header.masthead {
  position: relative;
  overflow: hidden;
  .masthead-content {
    z-index: 1;
    position: relative;
    color: rgba(0,0,0,.7);
    height: 100%;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}
